/*Animation Resizeable*/
#resizable { 
	width: 200px;
	height: 200px;
	padding: 0.5em;
}

 #resizable h1 { 
 	text-align: center;
 	margin: 0;
}

 .ui-resizable-helper { border: 1px dotted gray; }
 /*Animation Resizeable*/
 /*sortable*/
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
 /*sortable*/

/*Progressbar*/
 #progressbar .ui-progressbar-value {
    background-color: #ccc;
  }
  /*Progressbar*/

  /*tabs*/
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  /*tabs*/

  /*tooltip*/
  .photo {
    width: 300px;
    text-align: center;
  }
  .photo .ui-widget-header {
    margin: 1em 0;
  }
  .map {
    width: 350px;
    height: 350px;
  }
  .ui-tooltip {
    max-width: 350px;
  }
  /*tooltip*/

  /*add-class*/
    .toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  /*add-class*/

  /*effct*/
.toggler1 { width: 500px; height: 150px; position: relative; }
  #button1 { padding: .5em 1em; text-decoration: none; }
  #effect1 {position: relative;  width: 400px;
    padding: 1em; letter-spacing: 0; font-size: 1.2em;
     border: 1px solid #000; background: #eee; color: #333; }
  .newClass1 { text-indent: 40px; letter-spacing: .4em;
   width: 410px; height: 100px;
    padding: 30px; margin: 10px; font-size: 1.6em; }
  /*effect*/